[submodule "rttlua_completion"]
	path = rttlua_completion
	url = ../../gborghesan/rttlua_completion.git
[submodule "rFSM"]
	path = rFSM
	url = ../../gborghesan/rFSM.git
[submodule "rtt_dot_service"]
	path = rtt_dot_service
	url = ../../gborghesan/rtt_dot_service.git
[submodule "motion_control"]
	path = motion_control
	url = https://gitlab.kuleuven.be/rob-hardware/motion_control.git
[submodule "typekits"]
	path = typekits
	url = ../../gborghesan/ros2_rtt_typekits.git
