[submodule "rttlua_completion"]
	path = rttlua_completion
	url = git@github.com:gborghesan/rttlua_completion.git
[submodule "rFSM"]
	path = rFSM
	url = git@github.com:gborghesan/rFSM.git
[submodule "rtt_dot_service"]
	path = rtt_dot_service
	url = git@github.com:gborghesan/rtt_dot_service.git
[submodule "motion_control"]
	path = motion_control
	url = git@gitlab.kuleuven.be:rob-hardware/motion_control.git
[submodule "typekits"]
	path = typekits
	url = git@github.com:gborghesan/ros2_rtt_typekits.git
